
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  body {
    background: #888 !important;
  }
  
  .card {
    background: rgb(241, 238, 238);
    border: 1px solid #41353a;
    color: rgba(7, 6, 6, 0.8);
    margin-bottom: 2rem;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  .badge span {
      background-color: #fffbec;
      width: 60px;
      height: 25px;
      padding-bottom: 3px;
      border-radius: 5px;
      display: flex;
      color: #fed85d;
      justify-content: center;
      align-items: center
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: rgb(101, 73, 73) !important;
    border: 5px solid rgb(56, 47, 47) !important; 
    box-shadow: #222 1px 0 10px;
   
  }
